
body{
  font-family: Preahvihear;
}
.product_list{
    
}
.container{
    padding: 20px 370px 20px 370px;
}
.product{
   
   border-bottom: 4px solid rgb(9, 8, 8);
   font-size: 35px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 35px;
}
.total{
    font-size: 55px;
    color: brown;
}
.end{
    margin-bottom: 50px;
}
input{
    font-family: Quicksand;
    margin-top: -35px;
    font-size: 25px;
}

@media only screen and (max-width: 768px) {
    .container{
        padding: 15px;
    }
     .product{
        font-size: 30px;
     }
     .total{
        font-size: 35px;
     }
     input{
        width: 100px;
        margin-top: -35px;
        font-size: 20px;
    }
 }
.buttons{
    display: flex;
    justify-content: space-between;
}
#resetButton{
    padding: 5px 30px 5px 30px;
    height: 54px;
    width: 140px;
    margin-top: 15px;
    color: green;
    background: white;
}
#resetButton:hover{
    background: rgb(234, 11, 11);
    color: black;
}